.container {
    width: 550px;
    margin: 0 auto;
    padding: 40px 40px;
    height: 500px;
    text-align: center;
    background-color: var(--main-theme);
    color: white;
    border-radius: 20px;
}

.title {
    color: white;
    margin: 0;
    padding: 10px 0px;
    font-size: 33px;
}

.title span {
    color: var(--main-theme);
    background-color: white;
    padding: 8px 10px;
    border-radius: 10px;
}

.calculator {
    width: 100%;
    background-color: var(--main-theme);
}